.navbar {
	width: 100%;
	top: 0;
	position: fixed;
	background-color: #86af49;
}
body {
	background-color: #f2e394;
	margin-block: 10vh;
}

.video {
	display: flex;
	flex-wrap: wrap;
}

.card {
	max-width: 40vw;
}
