.navbar {
	width: 100%;
	position: fixed;
	top: 0;
	background-color:orange;
}

body {
	margin-block: 10vh;
	background-color: #f2e394;
}
img {
	height: 75vh;
	width: 33vw;
	opacity: 0.5;
}

.cards {
	display: flex;
	justify-content: space-around;
}

h1 {
	position: absolute;
	top: 20vh;
	left: 10vw;
	font-size: 40vh;
}

footer{
	width: 100%;
	text-align: center;
	background-color: orange;
	padding-block: 15px;
}
footer a{
	color: black;
}
