body {
	background-color: #f2e394;
}
img {
	height: 75vh;
	width: 33vw;
	opacity: 0.5;
}

.cards {
	display: flex;
	justify-content: space-around;
}

h1 {
	position: absolute;
	top: 15vh;
	left: 10vw;
	font-size: 40vh;
}
