.navbar {
	position:fixed;
	top: 0;
	width: 100%;
	background-color: #86af49;
}

body {
	margin-block: 10vh;
	background-color: #f2e394;
}

.list {
	width: 80vw;
	display:flex;
	margin-inline: 10vw;
	flex-wrap: wrap;
	justify-content: space-between;	
}
.item {
	margin-block: 30px 0px;
}

img {
	height: 35vh;
	width: 25vw;
	 border-radius:20px;
}

.banner-item {
	margin-inline: 10vw;
	display: flex;
	justify-content: space-around;
	border-radius: 20px;
	background-image: url('../images/croissant.jpeg');
}

.banner-item img {
	opacity: 0;
}

.banner-title {
	background-color: #f2ae72;
	margin: 15px;
	padding: 10px;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
	border-radius: 20px;
}

.item h3 {
	text-align: center;
}
