body {
	background-color: #f2e394;
}

.list {
	display:flex;
	flex-wrap: wrap;
	justify-content: flex-start;	
}
.item {
	opacity: 0.5;
	margin: 2%;
}

img {
	height: 250px;
	width: 250px;
}

h3 {
	position: relative;
	top: 150px;
	left: 50px;
	font-size: 2em;
}


